# Data Explorer

Load the data and explore

## Data Sets
**Data Set [Documentation](https://www.imdb.com/interfaces/)**

[**dataset**:https://datasets.imdbws.com/](https://datasets.imdbws.com/)
* [name.basics](https://datasets.imdbws.com/name.basics.tsv.gz)
* [title.akas](https://datasets.imdbws.com/title.akas.tsv.gz)
* [title.basics](https://datasets.imdbws.com/title.basics.tsv.gz)
* [title.crew](https://datasets.imdbws.com/title.crew.tsv.gz)
* [title.episode](https://datasets.imdbws.com/title.episode.tsv.gz)
* [title.principals](https://datasets.imdbws.com/title.principals.tsv.gz)
* [title.ratings](https://datasets.imdbws.com/title.ratings.tsv.gz)

## Project Data Sets
The below data sets will be used to complete the project:
1. Top 15 movies: title.ratings
2. Title: title.basics

In [37]:
import pandas as pd
from IPython.display import Markdown, display, clear_output,HTML

lines = 5 # number of lines to read in
data_files = ['name.basics.tsv.gz','title.akas.tsv.gz','title.basics.tsv.gz','title.crew.tsv.gz','title.episode.tsv.gz','title.principals.tsv.gz','title.ratings.tsv.gz']

## Data sets overview

In [38]:
for file in data_files:
    display(HTML("<h1>"+file+"</h1>"))
    display(pd.read_csv("../data/"+file,compression='gzip', sep="\t",nrows=lines))
    display(HTML("<hr>"))

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0072308,tt0031983,tt0050419,tt0053137"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0071877,tt0038355,tt0037382,tt0117057"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0049189,tt0057345,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0078723,tt0080455,tt0072562,tt0077975"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0083922,tt0050976,tt0050986,tt0060827"

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

      tconst  directors writers
0  tt0000001  nm0005690      \N
1  tt0000002  nm0721526      \N
2  tt0000003  nm0721526      \N
3  tt0000004  nm0721526      \N
4  tt0000005  nm0005690      \N

      tconst parentTconst  seasonNumber  episodeNumber
0  tt0020666   tt15180956             1              2
1  tt0020829   tt15180956             1              1
2  tt0021166   tt15180956             1              3
3  tt0021612   tt15180956             2              2
4  tt0021655   tt15180956             2              5

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Self""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N

      tconst  averageRating  numVotes
0  tt0000001            5.7      1882
1  tt0000002            5.9       250
2  tt0000003            6.5      1663
3  tt0000004            5.8       163
4  tt0000005            6.2      2487

## Load the data and process
* ratings
* titles - only top 15 titles to be loaded

In [41]:
data_files_dict = {"titles":"title.basics.tsv.gz","ratings":"title.ratings.tsv.gz"}
df_dict = {}
#for key in data_files_dict:
#    df_dict[key] = pd.read_csv("../data/"+data_files_dict[key],compression='gzip', sep="\t")

C:\Users\Thome Theron\AppData\Local\Temp\ipykernel_8440\2028039132.py:4: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_dict[key] = pd.read_csv("../data/"+data_files_dict[key],compression='gzip', sep="\t")

In [42]:
ratings_df = pd.read_csv("../data/title.ratings.tsv.gz",compression='gzip', sep="\t")
ratings_df = ratings_df.query("numVotes > 100")
avg_votes = ratings_df["numVotes"].mean()

In [43]:
#numVotes / averageNumberOfVotes) * averageRating
def calculate_rank (row):
    return row["numVotes"] / avg_votes * row["averageRating"]

ratings_df["rank"] = ratings_df.apply (lambda row: calculate_rank(row), axis=1)
top_15_movies_df=ratings_df.nlargest(15,"rank")

In [45]:
#df.sort_values("rank").tail(15)
Expected type 'Union[Literal["infer", "gzip", "bz2", "zip", "xz", "zstd"], dict[str, Any], None]', got 'str' instead